.circular-progress-bar {
  display: block;
  margin: 0px auto;
}

.progress-bar-background {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 5;
}

.progress-bar {
  fill: none;
  stroke: #4caf50;
  stroke-width: 6;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.progress-text {
  font-size: 12px;
  fill: #333;
  font-weight: bold;
}
